<form method="post" action="{{ path('app_stagiaire_delete', {'id': stagiaire.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce stagiaire ?');" class="inline-block">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ stagiaire.id) }}">
    <button class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded">Supprimer</button>
</form>